.load{
    width: 200px;
    height: 200px;
    top: 500px;
    left: 600px;
    bottom: 500px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid yellow;
    animation: spinanimate 0.5s ease-in-out 0s infinite normal ;
    align-items: center;
}

@keyframes spinanimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
body{
    background-color: black;
}
